*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Promedio/nbproject/private/
/Promedio/build/
/Operaciones/nbproject/private/
/Operaciones/build/
/MateApp/build/
/EjercicioLibro/nbproject/private/
/EjercicioLibro/build/
/UnitConverter/nbproject/private/
/Temperature/nbproject/private/
/UnitConverter/build/
/LibCalcFlow/nbproject/private/
/LibCalcFlow/dist/
/LibCalcFlow/build/